<div>
  <img
    src="../../../assets/images/plamen.jpg"
    alt="Plamen Petrov"
    width="200"
    height="200"
    class="about"
  />
  <p>Hi, my name is Plamen Petrov and this is my project</p>
  <p>
    for the November 2020 Angular Course at
    <a href="https://softuni.bg/" target="_blank" rel="noopener">SoftUni</a>.
  </p>
  <p>Feel free to contact me and leave your comments, bug fixes and ideas:</p>
  <p>
    <a
      title="My FB profile"
      href="https://www.facebook.com/biznetmen/"
      target="_blank"
      rel="noopener"
      
      ><img
        src="https://cdn1.iconfinder.com/data/icons/social-media-2285/512/Colored_Facebook3_svg-512.png"
        alt="Facebook"
        width="64"
        height="64"
        class="about"
      />&nbsp;</a
    ><a
      title="My Linkedin profile"
      href="https://www.linkedin.com/in/plamen5rov/"
      ><img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Linkedin_unofficial_colored_svg-512.png"
        alt="Linkedin"
        width="64"
        height="64" 
        class="about"/></a
    >&nbsp;<a
      title="My Instagram"
      href="https://www.instagram.com/plamen5rov/"
      target="_blank"
      rel="noopener"
      ><img
        src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Instagram_colored_svg_1-512.png"
        alt="Instagram"
        width="64"
        height="64"
        class="about"
    /></a>
  </p>
  <p>&nbsp;</p>
</div>
