<div class="welcome" fxLayout="column" fxLayoutAlign="center center">
  <section>
    <h1 style="text-align: center">
      CREATE YOUR WISHLIST AND SHARE IT WITH FRIENDS!
    </h1>
    <p>Welcome to the Wishlist App!</p>
    <div>
      Here you can easily turn your dreams into reality by simply creating a
      list for your desired gifts for a certain celebration event, such as:
    </div>

    <ul>
      <li>BIRTHDAYS</li>
      <li>WEDDINGS</li>
      <li>ANNIVERSARIES</li>
      <li>CHRISTMAS</li>
      <li>MOTHERS DAY</li>
      <li>FATHERSDAY</li>
      <li>NAMEDAY</li>
      <li>NEW BABY...</li>
    </ul>
    <p>...and any other SPECIAL OCCASION of your choice.</p>
    <p>
      All you need to do to get a FREE access to all features of this app is to:
    </p>
    <div class="div-button">
      <button mat-raised-button color="primary">REGISTER</button>
      <p></p>
      <p>and</p>
      <button mat-raised-button color="primary">LOGIN</button>
    </div>
  </section>
</div>
