<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" 
  #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input
        type="text"
        name="username"
        matInput ngModel
        placeholder="Your username here"
      />
    </mat-form-field>

    <mat-form-field>
      <input type="email" name="email" matInput ngModel 
      placeholder="Your email here" />
    </mat-form-field>

    <mat-form-field>
      <input
        type="password"
        name="password"
        matInput ngModel
        placeholder="Your password here"
      />
    </mat-form-field>
    <button mat-raised-button color="primary" 
    type="submit"
    >
        Register
    </button>
  </form>
</section>
